<div class="signin_form">
  <div class="tittle">
    <div class="inline-block">
      <h2 class="form-signin-heading">Sign In</h2>
    </div>
  </div>
  <div>
    <form [formGroup]="siginFormGroup" class="form-signin signin_form__form" novalidate>
      <div *ngIf="hasError" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error</span>
        <span>{{ errorMessage }}</span>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input matInput formControlName="username" placeholder="Username">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input matInput formControlName="password" type="password" placeholder="Password">
        </mat-form-field>
      </div>
      <div class="form-group">
        <button [disabled]="!siginFormGroup.valid" (click)="login()" mat-raised-button color="primary" type="submit">Sign In</button>
      </div>
    </form>
  </div>
</div>